body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
}
a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
}
a:hover {
    text-decoration: none;
}

.header-container {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 50px auto 30px auto;
    transition: background-color 0.3s ease;
}
.header-container:hover {
    background-color: #d0d0d0;
}

.header {
    color: black;
    padding: 5px 0;
    text-align: center;
}

.content-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
}

.content{
    margin: 10px 0;
    padding: 10px 25px;
    border-radius: 5px;
}
.content:hover {
    background-color: #f0f0f0;
}